<div class="header-workspace flex-container space-between">
  <div class="ws-balance flex-container">
    <div class="label">
      Workspace Balance
    </div>
    <div class="js-total-balance"></div>
    <div class="js-total-dollari"></div>
    <div class="js-total-euro"></div>
    <div class="js-total-bitcoin"></div>
  </div>

  <div class="ws-functions flex-container">
    <a class="js-load" data-target="#import-workspace-modal" data-toggle="modal" href="javascript:;">Load</a>
    <a class="js-save" href="javascript:;">Save</a>
    <div class="label-switch">Local</div>
    <label class="switch-type">
      <input type="checkbox" name="workspacetype" class="jcf-ignore">
      <span class="changer round"></span>
    </label>
    <div class="label-switch">Cloud</div>
  </div>
</div>
