<div id="print-template">
  <div class="print-container" id="print-container">
    <div class="logobox">
      <img src="/content/images/logo_noku_black.png" class="print-title">
      <div>WALLET</div>
    </div>
    <div class="www">www.noku.io</div>
    <div id="identicon" class="addressIdenticon med">
    </div>
    <div class="print-address-container">
      <p><strong>Address:</strong><br>
        <span id="paperwalletadd"></span></p>
    </div>
    <div class="print-qr-code-1">
      <div id="paperwalletaddqr"></div>
      <p class="print-text">Address</p>
    </div>
    <div class="print-notes">
      <img src="/content/images/notes-bg.png" width="90%;" height="auto" class="pull-left">
      <p class="print-text">Notes</p>
    </div>
    <div class="print-qr-code-2">
      <div id="paperwalletprivqr"></div>
      <p class="print-text">Private Key</p>
    </div>
    <div class="print-pkey-container">
      <p><strong>Private Key:</strong><br>
        <span id="paperwalletpriv"></span></p>
    </div>
  </div>
</div>
