<div class="modal fade modal-noku not-progress modal-addressbook" id="mnemoniclist">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mnemonic Address List</h5>
        <i class="far fa-times" data-dismiss="modal"></i>
      </div>
      <div class="modal-body js-body-mnemoniclist">
        <div class="form-noku">
          <div class="simple-modal">
            <div class="row">
              <div class="col-md-12">
                <%- partial('../content/_mnemoniclist-content') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
