<div class="modal fade modal-noku not-progress" id="privatekey-onlyview">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your encrypted Private Key</h5>
        <i class="far fa-times" data-dismiss="modal"></i>
      </div>
      <div class="modal-body">
        <div class="form-noku">
          <div class="simple-modal">
            <div class="row">
              <div class="col-md-12">
                <form action="javascript:;" class="validateSubmit">
                  <%- partial('../content/_pr-key-onlyview-content') %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pointer mr-auto" data-dismiss="modal">Cancel</div>
      </div>
    </div>
  </div>
</div>
