<div class="modal fade modal-noku not-progress" id="utc-json">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import your encrypted Private Key</h5>
        <i class="far fa-times" data-dismiss="modal"></i>
      </div>
      <div class="modal-body">
        <div class="form-noku">
          <div class="simple-modal">
            <div class="row">
              <div class="col-md-12">
                <div class="title-step">Select Your Wallet File </div>
                <div class="desc-modal">Select the UTC/JSON file of the wallet you want to import</div>
                <form action="javascript:;" class="js-address-json">
                  <%- partial('../content/_utc-json-content') %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pointer mr-auto" data-dismiss="modal">Cancel</div>
        <div class="btn btn-noku dark-blue enc-unlock" data-id="encprivatekey">Unlock</div>
      </div>
    </div>
  </div>
</div>
