<fieldset class="step " data-step="3">
  <div class="row">
    <div class="col-md-12">
      <div class="title-step">Save your Private Key</div>
      <div class="desc-modal">The alphanumeric string below is your private key: save it and store it, it’s necessary to sign your transactions. If you can, print it and keep it in a safe place. Don’t give it to anyone.</div>
      <div class="copy-obbl">
        <textarea class="privatekey js-create-account-privatekey" type="text" disabled name="" value=""></textarea>
      </div>
      <div class="title-step">Print your paper wallet</div>
      <a class="download-noku print-noku" href="javascript:;">Print it</a>
    </div>
  </div>
</fieldset>
