<fieldset class="step " data-step="2">
  <div class="row">
    <div class="col-md-12">
      <div class="title-step">Download UTC / JSON file</div>
      <div class="desc-modal">Download the file and store it in a safe place: don’t lose it, because it cannot be recovered. Don’t share it, especially not on suspicious websites, if you don’t want to lose your whole fund.</div>
      <a class="download-noku js-download-json" href="javascript:;">Download</a>
    </div>
  </div>
</fieldset>
