<div class="title-step">Please enter the wallet address</div>
<div class="desc-modal">Questo account address sarà in sola visione non potrai operare su questo account</div>
<input class="form-control obbl" type="text" placeholder="Your address" autocomplete="off">
