<div class="title-step">Please enter your 128 chars encrypted Private Key</div>
<div class="desc-modal">To unlock your wallet, enter your wallet password too.</div>
<textarea class="privatekey mb20 form-control obbl js-load-pkey" type="text" placeholder="Encrypted Privated Key" name="" value=""></textarea>
<div class="label-pk">Password to unlock</div>
<input autocomplete="off" class="password-noku form-control obbl js-password-unlock-json" type="password" placeholder="Enter your password" />
