<table class="table">
    <thead>
        <th>Identicon</th>
        <th>Address</th>
        <th>Balance</th>
        <th></th>
    </thead>
    <tbody>
        <tr class="js-original-item hidden">
            <td class="avatar-book">
                <div class="js-create-blockie card-avatar">{{blockie}}</div>
            </td>
            <td><a class="link-special js-save-priv-key" data-privkey="{{privateKey}}" data-address="{{address}}" href="/address/{{address}}">{{address}}</a></td>
            <td class="js-address-balance" data-address="{{address}}">Please wait ...</td>
        </tr>
    </tbody>
</table>