<div class="title-step">Please enter your <span class="js-change-number-mnemonic-type">12</span> words</div>
<div class="desc-modal">Choose the mnemonic type of your phrase then enter it in the space below.</div>
<div class="row mb20">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="label-pk">Mnemonic Type</div>
    <select name="" class="form-control obbl js-mnemonic-type">
      <option value="0" selected="selected">Jaxx</option>
      <option value="0">Metamask</option>
      <option value="0">Exodus</option>
      <option value="0" data-n="24">Trezor</option>
      <option value="0">Digital Bitbox</option>
      <option value="1" data-n="24">Ledger</option>
      <option value="2">Eidoo</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="label-pk">Password (optional)</div>
    <input autocomplete="off" class="password-noku form-control js-mnemonic-password" type="password" placeholder="Your password" />
  </div>
</div>
<div class="label-pk">Mnemonic Phrase</div>
<textarea class="privatekey form-control obbl js-mnemonic-phrase" type="text" placeholder="candy trick quality pill day frozen citizen any blast safe party wash" name="" value=""></textarea>
