<div class="title-step">Please enter your 64 hexdecimal Private Key</div>
<div class="desc-modal">Copy and paste it, beware of the empty spaces.</div>
<div class="">
  <textarea class="privatekey form-control obbl js-load-pkey" type="text" placeholder="Privated Key" name="" value=""></textarea>
</div>
