<div class="title-step">Save and encrypt your wallet</div>
<div class="form-group">
  <div class="desc-modal">Your Wallet Option Name</div>
  <input autocomplete="off" class="form-control obbl js-wallet-name" type="text" placeholder="Enter your wallet name" />
</div>
<div class="form-group">
  <div class="desc-modal">Type a strong password to encrypt your wallet (six chars or more)</div>
  <input autocomplete="off" class="password-noku form-control obbl control-password js-wallet-password" type="password" placeholder="password" />
</div>
<div class="form-group">
  <div class="desc-modal">Retype your password</div>
  <input autocomplete="off" class="password-noku form-control obbl control-repassword" type="password" />
</div>
