<div class="dropzone-container js-json-utc-wallet">
  <div class="dropzone-element">
    <div class="icon icon-upload"></div>
    <div class="span">Drag here or <span>browse</span> to upload</div>
  </div>
  <div class="images-preview">
    <div class="hidden-flex"></div>
  </div>
</div>
<div class="label-pk">Password to unlock</div>
<input autocomplete="off" class="password-noku form-control obbl js-password-unlock-json" type="password" placeholder="Enter your password" />
