<div class="title-step">Please enter your 128 chars encrypted Private Key </div>
<div class="desc-modal">Sensitive information never leaves your device.</div>
<form action="" class="">
  <textarea class="privatekey mb20" type="text" placeholder="Encrypted Privated Key" name="" value=""></textarea>
  <div class="label-pk">Password to unlock</div>
  <input class="password-noku" type="password" placeholder="Enter your password" />
</form>
