<div class="modal fade modal-noku not-progress" id="encprivatekey">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import your encrypted Private Key</h5>
        <i class="far fa-times" data-dismiss="modal"></i>
      </div>
      <div class="modal-body">
        <div class="form-noku">
          <div class="simple-modal">
            <div class="row">
              <div class="col-md-12">
                <div class="title-step">Please enter your 128 chars encrypted Private Key </div>
                <div class="desc-modal">Sensitive information never leaves your device.</div>
                <form action="" class="">
                  <textarea class="privatekey mb20" type="text" placeholder="Encrypted Privated Key" name="" value=""></textarea>
                  <div class="label-pk">Password to unlock</div>
                  <input class="password-noku" type="password" placeholder="Enter your password" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pointer mr-auto" data-dismiss="modal">Cancel</div>
        <div class="btn btn-noku dark-blue enc-unlock" data-id="encprivatekey">Unlock</div>
      </div>
    </div>
  </div>
</div>
